@model List<Chaletin.Areas.Identity.Data.User>
<div class="container">
    <table class="table table-sm table-hover" style="margin-top:5%">
        <tr>
            <th>#</th>
            <th>name</th>
            <th>phone number</th>
            <th>email</th>
            <th>farm count</th>
            <th>action</th>
        </tr>
        @foreach(var user in @Model)
        {

            <tr onclick="location.href='@Url.Action("InvestorFarms", "Profile", new { id=@user.Id })'">
                <td>@user.Id</td>
                <td>@user.Name</td>
                <td>@user.Phone</td>
                <td>@user.Email</td>
                <td>@user.Farms.Count</td>
                <td>
                    @if(user.Blocked)
                    {
                        <a class="btn btn-success btn-sm" asp-controller="Profile" asp-action="BlockInvestor" asp-route-id="@user.Id">تفعيل</a>
                    }
                    else
                    {
                        <a class="btn btn-danger btn-sm" asp-controller="Profile" asp-action="BlockInvestor" asp-route-id="@user.Id">تعطيل</a>
                    }
                </td>
            </tr>
        }
    </table>
</div>